@font-face {
  font-weight: 400;
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  src: url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  src: url("../fonts/helveticaneuecyr-light.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  src: url("../fonts/helveticaneuecyr-medium.woff2") format("woff2"), url("../fonts/helveticaneuecyr-medium.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "Fira Sans";
  font-style: normal;
  src: url("../fonts/firasans-extralight.woff2") format("woff2"), url("../fonts/firasans-extralight.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "AFuturaOrto";
  font-style: normal;
  src: url("../fonts/AFuturaOrto.woff2") format("woff2"), url("../fonts/AFuturaOrto.woff") format("woff");
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
.reset {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Helvetica Neue Cyr", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
figure {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input,
button {
  font: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  margin-top: 20px;
  margin-bottom: 32px;
  color: #333333;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
.wrapper {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.promo {
  min-height: 945px;
  padding-top: 205px;
  color: #fff;
  background-color: #7c7a76;
  background-image: url(../img/bg-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.promo__slogan {
  margin-bottom: 55px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
}
.promo__link {
  width: 302px;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 155px;
  font-family: "AFuturaOrto", "Arial", sans-serif;
  font-size: 24px;
  color: #fff;
  background-color: #3e538a;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.promo__link:hover,
.promo__link:active {
  background-color: #264d74;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}
.logo img {
  width: 96px;
  height: auto;
  margin-right: 10px;
  margin-top: 5px;
}
.logo p {
  margin: 0;
  letter-spacing: 0.1em;
  max-width: 120px;
  line-height: 0.9;
}
.logo span {
  font-family: "AFuturaOrto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: normal;
}
.menu__btn {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  margin-left: 50px;
  position: relative;
}
.menu__item:hover .menu__sublist {
  display: block;
}
.menu__link {
  font-family: "Fira Sans", "Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.menu__link:hover,
.menu__link:active,
.menu__link--active {
  color: #d34436;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.menu__open {
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-down-arrow.png);
  background-repeat: no-repeat;
  background-size: 11px 6px;
  background-position: center;
}
.menu__sublist {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.why {
  padding-top: 82px;
  padding-bottom: 90px;
}
.why p {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 300;
}
.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 145px;
  margin-bottom: 35px;
}
.why__item {
  width: 218px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__item p {
  width: 110%;
  margin-top: 110px;
  padding-left: 5px;
  padding-right: 5px;
  color: #d34436;
  letter-spacing: 0.1em;
}
.why__icon {
  width: 99px;
  height: 99px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #cccccc;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.why__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 218px;
  height: 218px;
  border-radius: 50%;
  border: 3px solid #a3a4a7;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.why__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background-color: rgba(62, 83, 138, 0.5);
  opacity: 0;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.why__icon:hover {
  background-color: #3e6099;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.why__icon:hover::before {
  border-color: #3e6099;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.why__icon:hover::after {
  width: 128px;
  height: 128px;
  opacity: 1;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.more {
  display: block;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-align: center;
  position: relative;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.more::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -10px;
  width: 20px;
  height: 14px;
  background-image: url(../img/icon-arrow-slide.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.more:hover,
.more:active {
  color: #d34436;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.projects {
  padding-top: 83px;
  padding-bottom: 105px;
  background-color: #f6f6f6;
}
.projects p {
  font-weight: 300;
  text-align: center;
  max-width: 715px;
  margin-left: auto;
  margin-right: auto;
}
.projects__list {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.projects__item {
  width: 381px;
  height: 277px;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__img {
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(62, 96, 153, 0.4);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.projects__overlay h4 {
  margin-bottom: 0;
  margin-top: 20px;
  color: #fff;
  font-size: 24px;
  text-decoration: underline;
}
.projects__overlay:hover,
.projects__overlay:active {
  background-color: rgba(62, 96, 153, 0);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.projects__overlay:hover h4,
.projects__overlay:active h4 {
  text-decoration: none;
}
.news {
  padding-top: 88px;
  padding-bottom: 105px;
}
.news h2 {
  margin-bottom: 30px;
}
.news__list {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.news__item {
  width: 592px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.news__item h4 {
  max-width: 100%;
  margin-bottom: 27px;
  color: #3e6099;
  font-size: 24px;
  letter-spacing: 0.1em;
}
.news__item h4 a {
  color: inherit;
}
.news__item p {
  max-width: 100%;
  margin-top: 0;
  letter-spacing: 0.1em;
}
.news__item time {
  color: #333333;
  margin-top: auto;
}
.news__item:hover h4,
.news__item:active h4 {
  text-decoration: underline;
}
.news__item:hover .news__overlay,
.news__item:active .news__overlay {
  background-color: rgba(62, 96, 153, 0);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.news__item:hover .news__overlay p,
.news__item:active .news__overlay p {
  opacity: 1;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.news__img {
  display: block;
  position: relative;
}
.news__img img {
  display: block;
}
.news__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(62, 96, 153, 0.4);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.news__overlay p {
  opacity: 0;
  min-width: 222px;
  min-height: 60px;
  max-width: 100%;
  padding: 15px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  background-color: #d34436;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.team {
  padding-top: 55px;
  padding-bottom: 25px;
  background-color: #f6f6f6;
}
.team h2 {
  margin-bottom: 35px;
}
.team__list {
  margin-top: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.team__item {
  width: 565px;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.team__item:nth-child(4n) .team__img,
.team__item:nth-child(4n-1) .team__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.team__item:nth-child(4n) .team__text,
.team__item:nth-child(4n-1) .team__text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.team__item:nth-child(4n) .team__text p,
.team__item:nth-child(4n-1) .team__text p {
  text-align: right;
}
.team__item:nth-child(4n) .team__img,
.team__item:nth-child(4n-1) .team__img {
  margin-left: 65px;
  margin-right: 0;
}
.team__item:nth-child(4n) .team__img::after,
.team__item:nth-child(4n-1) .team__img::after {
  left: -27px;
  right: auto;
}
.team__img {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 65px;
  position: relative;
}
.team__img img {
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.team__img::after {
  content: "";
  position: absolute;
  top: 30px;
  right: -27px;
  width: 55px;
  height: 1px;
  background-color: #3c4041;
}
.team__text {
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.team__text span {
  color: #3e6099;
  max-width: 100%;
  font-size: 18px;
}
.team__text p {
  max-width: 100%;
  margin-bottom: 0;
  margin-top: auto;
  color: #999999;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.team__text .team__name {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  color: #3c4041;
  font-size: 18px;
  text-transform: uppercase;
}
.expert {
  padding-top: 110px;
  padding-bottom: 85px;
}
.expert h2 {
  margin-bottom: 30px;
}
.expert__item {
  text-align: center;
  padding-top: 5px;
}
.expert__item p {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 300;
}
.expert__item .expert__name {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.expert__item .expert__position {
  font-size: 18px;
  margin-top: 10px;
}
.expert__img {
  width: 155px;
  height: 115px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.expert__prev,
.expert__next {
  top: 30%;
  background-image: url(../img/icon-arrow-next.png);
  background-size: 21px 41px;
}
.expert__prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0;
}
.expert__next {
  right: 0;
}
.brand {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
}
.brand__slider {
  padding-bottom: 93px;
}
.brand__item {
  width: 25%;
  min-height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brand__next,
.brand__prev {
  top: auto;
  bottom: 0;
  width: 41px;
  background-image: url(../img/icon-arrow-slide.png);
  background-size: 41px 27px;
  opacity: 0.85;
}
.brand__prev {
  left: 41%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.brand__next {
  right: 41%;
}
.contacts {
  padding-top: 57px;
  padding-bottom: 23px;
  background-color: #3e6099;
}
.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}
.contacts__block {
  width: 590px;
}
.contacts__block--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts__block--right {
  padding-left: 100px;
}
.contacts__block p {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}
.contacts__address {
  width: 360px;
  font-size: 18px;
}
.contacts__address address {
  font-style: normal;
  font-weight: 600;
  margin-bottom: 35px;
  letter-spacing: 0.025em;
}
.contacts__address a {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}
.contacts__address a span {
  font-weight: 400;
  letter-spacing: 0.05em;
  opacity: 0.75;
  font-weight: 300;
}
.contacts__address a b {
  display: inline-block;
  width: 80px;
}
.contacts__address a:hover span,
.contacts__address a:active span {
  text-decoration: underline;
}
.footer {
  background-color: #264d74;
}
.footer__wrap {
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #fff;
}
.subscribe p {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.05em;
  opacity: 0.75;
}
.subscribe__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__input {
  width: 438px;
  height: 48px;
  padding: 0 25px;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.subscribe__input::-webkit-input-placeholder {
  opacity: 1;
}
.subscribe__input:-ms-input-placeholder {
  opacity: 1;
}
.subscribe__input::-ms-input-placeholder {
  opacity: 1;
}
.subscribe__input::placeholder {
  opacity: 1;
}
.subscribe__btn {
  width: 48px;
  height: 48px;
  background-color: #d34436;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.subscribe__btn:hover,
.subscribe__btn:active {
  opacity: 0.8;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
