.brand {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: @grey-bg;
}

.brand__slider {
  padding-bottom: 93px;
}

.brand__item {
  width: 25%;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand__next,
.brand__prev {
  top: auto;
  bottom: 0;
  width: 41px;
  background-image: url(../img/icon-arrow-slide.png);
  background-size: 41px 27px;
  opacity: 0.85;
}

.brand__prev {
  left: 41%;
  transform: rotate(180deg);
}

.brand__next {
  right: 41%;
}
