.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  
  img {
    width: 96px;
    height: auto;
    margin-right: 7px;
  }
  
  p {
    letter-spacing: 0.1em;
    max-width: 120px;
    line-height: 1;
  }
  
  span {
    font-family: "AFuturaOrto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
  }
}
