.team {
  padding-top: 55px;
  padding-bottom: 25px;
  background-color: @grey-bg;
  
  h2 {
    margin-bottom: 35px;
  }
}

.team__list {
  margin-top: 163px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.team__item {
  width: 565px;
  margin-bottom: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  &:nth-child(4n),
  &:nth-child(4n-1) {
    .team__img {
      order: 2;
    }
    
    .team__text {
      order: 1;
      align-items: flex-end;
      
      p {
        text-align: right;
      }
    }
    
    .team__img {
      margin-left: 65px;
      margin-right: 0;
      
      &::after {
        left: -27px;
        right: auto;
      }
    }
  }
}

.team__img {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 65px;
  position: relative;
  
  img {
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -27px;
    width: 55px;
    height: 1px;
    background-color: rgb(60, 64, 65);
  }
}

.team__text {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  span {
    color: @blue;
    max-width: 100%;
    font-size: 18px;
  }
  
  p {
    max-width: 100%;
    margin-bottom: 0;
    margin-top: auto;
    color: #999999;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
  
  .team__name {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #3c4041;
    font-size: 18px;
    text-transform: uppercase;
  }
}
